@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
.barre-de-navigation {
  background-color: royalblue;
  height: 50px;
  text-align: center;
}

.barre-de-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 500;
}

.barre-de-navigation ul li {
  display: inline-block;
}

.barre-de-navigation ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.barre-de-navigation ul li a:hover {
  background-color: cornflowerblue;
}
.photo {
  position: absolute;
  top: 50px;
  left: 400px;
}
.description {
  height: 400px;
  width: 15%;
  text-align: justify;
  position: absolute;
  top: 120px;
  right: 450px;
  font-size: 20px;
  margin-top: 20px;
}
.savoir-faire {
  position: absolute;
  color: black;
  top: 450px;
  left: 650px;
}
.titre-machine-spéciale {
  height: 250px;
  width: 35%;
  text-align: justify;
  position: absolute;
  top: 990px;
  left: 245px;
  font-size: 18px;
  margin-top: 20px;
}
.machine-spéciale {
  position: absolute;
  top: 550px;
  left: 250px;
}
.description-machine-spéciale {
  height: 250px;
  width: 25%;
  text-align: justify;
  position: absolute;
  top: 1050px;
  left: 265px;
  font-size: 18px;
  margin-top: 20px;
}
.titre-ligne-robotisée {
  height: 250px;
  width: 35%;
  text-align: justify;
  position: absolute;
  top: 990px;
  right: 160px;
  font-size: 18px;
  margin-top: 20px;
}
.ligne-robotisée {
  position: absolute;
  top: 550px;
  right: 250px;
}
.description-ligne-robotisée {
  height: 250px;
  width: 25%;
  text-align: justify;
  position: absolute;
  top: 1050px;
  right: 300px;
  font-size: 18px;
  margin-top: 20px;
}
.titre-contact {
  position: absolute;
  color: black;
  top: 1350px;
  left: 400px;
}
.liste-contact {
  height: 250px;
  width: 30%;
  text-align: justify;
  position: absolute;
  top: 1370px;
  left: 550px;
  font-size: 18px;
  margin-top: 20px;
}
